.fade-out {
  animation: fade-out 0.1s ease-out;
}

.fade-in {
  animation: fade-in 0.1s ease-out;
}

.zoom-in {
  animation: zoom-in 0.1s ease-out;
}

.zoom-out {
  animation: zoom-out 0.1s ease-out;
}

.fade-out,
.fade-in,
.zoom-in,
.zoom-out {
  animation-fill-mode: forwards;
}

/* anim keyframes */

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes zoom-out {
  from {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.97);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
