:global(.ReactModal__Overlay) {
  opacity: 0;

  transition: opacity 100ms ease-out;
}

:global(.ReactModal__Overlay--after-open) {
  opacity: 1;
}

:global(.ReactModal__Overlay--before-close) {
  opacity: 0;
}

:global(.ReactModal__Content) {
  transform: scale(0.97);

  transition: transform 100ms ease-out;
}

:global(.ReactModal__Content--after-open) {
  transform: scale(1);
}

:global(.ReactModal__Content--before-close) {
  transform: scale(0.97);
}
