.windowLabel {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;

  span {
    flex-grow: 1;
  }
}

.window {
  border-radius: 10px;
  overflow: hidden;
}
