@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply hover:bg-slate-800/10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:hover:bg-slate-100/10;
  }
  .rounded-button {
    @apply button flex shrink-0 items-center justify-center rounded-full;
  }
  .section-outer {
    @apply px-5 sm:px-7;
  }
  .section-inner {
    @apply mx-auto w-full max-w-7xl;
  }
}

@layer utilities {
  .button-accent {
    @apply button text-blue-500 hover:bg-blue-500/20 dark:text-blue-400;
  }

  .bg-theme-white {
    @apply bg-white dark:bg-slate-950;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--after-open {
  @apply animate-zoom-in;
}

.ReactModal__Content--before-close {
  @apply animate-zoom-out;
}

body {
  @apply bg-blue-50 p-0 text-sm text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

.popup #root,
.popup body {
  @apply h-[30rem] w-[24rem] overflow-y-auto;
}

#root {
  width: 100%;
}
