@import '../../shared/scss/global.scss';
@import '../../shared/scss/utilities.scss';

header {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
  background-color: var(--main-background);
  border-bottom: var(--light-gray) solid 1px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 15px;
  @include vertically-centered;
}

body {
  margin-top: 60px;
}

#logo {
  margin-right: 10px;
  width: 30px;
}

.button-container {
  margin-left: auto;

  button {
    margin: 0 0 0 10px;
    padding: 10.5px;
    height: 40px;
    width: 40px;
    border-radius: 25px;

    img {
      height: 15px;
      width: 15px;
    }
  }
}
