@import 'shared/scss/global.scss';

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--main-background);
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  padding: 0.7rem 0 0.7rem 0;

  * {
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    @include button;
  }
}
